/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/uploads/*
/vendor/
/app/config/parameters.yml
/app/config/economic_parameters.yml
*~
.idea/
composer.phar
error.log
web/css/
web/js
web/images/
web/temp/
.vagrant/
deploy/


.DS_Store
.project
.setting/
ssh-config
