<div class="unclaimed-match bottom-buffer">
    <a href="{{ path('claim_result_show', { id : available.id}) }}">
        At {{ available.submitted|date('H:i:s d/m/Y') }} a game was played. White : {{ available.team1Score }} -
        Red : {{ available.team2Score }}. <br />Click to claim this result.
    </a>
</div>
