<div class="unclaimed-match row bottom-buffer">
    <a href="#">
        At {{ available.submitted|date('H:i:s d/m/Y') }} a game was played. White : {{ available.team1Score }} -
        Red : {{ available.team2Score }}. Click to claim this result.
    </a>
</div>
