<div class="chartAll">
    {% set latestResults = results[results|length - 30:results|length] %}

    <script>
        $(function () {
            $('.chartAll').highcharts({
                exporting: { enabled: false },
                title:{
                    text:''
                },
                labels: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                subTitle:{
                    text:''
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    title:{
                        text:''
                    },
                    categories: [
                        {% for result in latestResults %}
                            '{{ result.registered|date('Y-m-d') }}',
                        {% endfor %}
                    ]
                },
                yAxis: {
                    title:{
                        text:''
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#cccccc'
                    }]
                },
                tooltip: {
                    useHTML : true,
                    formatter: function() {
                        return  '<b>'+ Highcharts.numberFormat(this.y, 0) +'</b><br/>'+
                        '<span>'+this.x + "</span><br/>"+
                        '<a href="'+Routing.generate('detail_result', {id: this.point.resultID})+'">Result</a>';
                    }
                },

                series: [{
                    name: '',
                    color: '#999999',
                    data: [
                        {% for result in latestResults %}
                            { y : {{ result.NewElo }}, resultID : {{result.result.id}} },
                        {% endfor %}
                    ]

                }]
            });

        });
    </script>
</div>