{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="alert alert-warning">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
    <a class="navbar-brand" href="{{ path('home') }}">FoosLeader</a>

{% endblock fos_user_content %}
